p {
  margin: 0;
}

a {
  text-decoration: none;
}

#output-box {
  height: 400px;
}

#output-box img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  #output-box {
    height: 200px;
  }
}
